In [ ]:
count = 0
while count < 5:
    print("Pune")
    count +=1

In [ ]:
# print the numbers from 5 to 15

count = 5
while count < 16:
    print(count , end = ' ')
    count +=1

In [ ]:
count

In [ ]:
# Find the addition of 1 to 10 numbers

count = 1
sum = 0
while count <= 10:
    sum += count
    count += 1
print("Sum:", sum)

In [ ]:
# find the add

count = 1
add = 0

while count <= 20:
    add = add + count
    count +=2
    print(add)

In [ ]:
# find addition of 1 to 20 odd numbers

count = 1
add = 0

while count <= 20:
    add = add + count
    count +=2
print(add)

In [ ]:
"""
while True:
print("ok")

"""

In [ ]:
# Program to calculate the factorial of 5 using a while loop

num = 5
factorial = 1
count = 1

while count <= num:
    factorial *= count
    count += 1

print("Factorial of", num, "is", factorial)

In [1]:
12345 % 10

5

In [3]:
12345 // 10

1234

In [ ]:
##### for loop

In [5]:
for n in 12,34,56,30:
    print(n)

12
34
56
30

In [6]:
# iterate over a sequence and print half of those value

for n in 12,34,56,30:
    print(n/2, end = ' ')

6.0 17.0 28.0 15.0

In [7]:
###

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list (range(1 , 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(range(1 , 12, 2))
# start, end(exclusive) , step

[1, 3, 5, 7, 9, 11]

In [11]:
for n in range (1 , 11):
    print(n , end = ' ')

1 2 3 4 5 6 7 8 9 10

In [12]:
# find the addition of 1 to 10 numbers using for loop

add = 0
for n in range (1 , 11):
    add = add + n
print(add)

55

In [13]:
for i in "Pune" :
    print(i)

P
u
n
e

In [16]:
for i in "Pune", "Mumbai":
    print(i)

Pune
Mumbai

In [21]:
# factorial using for loop
num = 1
fact = 1
for n in range(5):
    fact = fact * num
    num +=1
print (fact)

120

In [22]:
for i in range(1 ,11):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [27]:
count = 1
while count < 11:
    print(count)
    if count == 6:
        break
    count += 1

1
2
3
4
5
6

In [32]:
# continue

In [33]:
for i in range(1 ,11):
    
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
"""
*
* *
* * *
* * * *
* * * * *
"""

In [40]:
row = 5
for i in range (1 , row + 1):
    print(' * ' *i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *